<div class="card">
  <%= image_tag(project.thumb_image) unless project.thumb_image.nil? %>
  <p class="card-text">
    <span><%= link_to project.title , project_show_path(project)%></span><%= project.subtitle%>
  </p>
</div>

<!--
<%= link_to "Edit Project", edit_project_path(project.id) if logged_in?(:site_admin) %>
<%= link_to "Delete Item", project_path(project), method: :delete , data: {confirm: "Are you sure?"} if logged_in?(:site_admin) %>
-->
